* {
    margin: 0;
    padding: 0;
}

:root {
    /* background-color */
    --bg-white: #fff;
    --bg-black: #2C2C2C;
    --bg-light-pink: #ff007a;
    --bg-light-grey: #f6f9fe;
    --bg-gradient: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
    --bg-card-shadow: 0. 0188rem 1.25rem 0px rgba(0, 0, 0, 0.06);
    --bg-card-shadow: 0 2rem 5rem rgb(0, 0, 0, 0.06);
    --bg-light-gray: #eee;

    /* text color */
    --text-white: #fff;
    --text-black: #2C2C2C;
    --text-light-black: #444;
    --text-light-pink: #ff007a;
    --text-light-gray: #7e8085;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--text-black);
    background-color: var(--bg-white);
    overflow-x: hidden;
    font-weight: 400;
}

/* custom css */

a,
a:hover {
    text-decoration: none;
}

.btn-danger {
    background: var(--bg-light-pink) !important;
    color: var(--text-white);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: none !important;
}

.btn-danger:hover {
    background: transparent !important;
    color: var(--text-light-pink) !important;
}

.headline h2::before {
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--bg-light-pink);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

/* custom css exit */



/* navbar section  */

#header .fixed-top {
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%);
}

#header .navbar-nav .nav-item .nav-link {
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.3rem;
    
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
    color: var(--text-light-pink);
}

#header .navbar-toggler-icon {
    width: unset;
    height: unset;
}

#header .navbar-toggler:focus {
    box-shadow: none;
}

/* navbar section exit */



/* home banner section */

.home .home-banner-1,
.home .home-banner-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}

.home .home-banner-1 {
    background-image: url(../image/banner-one.jpeg);
    background-position: center center;
    background-size: cover;
    max-width: 100vw;
    min-height: 600px;
    object-fit: cover;
}

.home .home-banner-2 {
    background-image: url(../image/banner-two.jpeg);
    background-position: center center;
    background-size: cover;
    max-width: 1366px;
    min-height: 600px;
    object-fit: cover;
}

.home .home-banner .home-banner-text {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-110% -50%) !important;
}

.home .home-banner .home-banner-text h1 {
    font-size: 4rem;
}

.home .home-banner .home-banner-text h2 {
    color: var(--text-light-pink);
}

.home .carousel-indicators [data-bs-target] {
    background-color: var(--text-light-pink);
    width: 2.5rem;
    height: 0.313rem;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
    background: transparent;
}

.home .slider-icon {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-white);
}

/* home banner section exit */


/* offer section */

.offers {
    padding-top: 50px;
}

.offers .offer-box .offer-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);

    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

.offers .offer-box .offer-image img {
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offers .offer-box:hover .offer-image::before {
    animation: effect_shine 1s;
}

@keyframes effect_shine {
    100% {
        left: 150%;
    }



}

.offers .offer-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.offers .offer-box .offer-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;

}

.offers .offer-box .offer-info .heading-bigger {
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
    color: var(--text-white);
}

.offers .offer-box .offer-info .offer-title-1 {
    color: var(--text-white);
    font-size: 16px;
    font-weight: 300 !important;
    margin-bottom: 0;
    letter-spacing: 2px;

}

.offers .offer-box .offer-info .btn-outline-danger {
    color: var(--text-white);
    border-color: var(--bg-white);
    transition: all .03s ease-in-out;
}

.offers .offer-box .offer-info .btn-outline-danger:hover {
    border-color: var(--bg-light-pink);
    background-color: var(--bg-light-pink);
}

/* offer section exit */


/* product section  */

.products {
    padding-top: 80px;
}

.products a {
    text-decoration: none;
    color: var(--text-black);
}

.product-list .product-image img {
    transition: all 500ms ease-in-out;
}

.product-list .product-image .product-image-secondary {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.product-list .product-image:hover .product-image-secondary {
    opacity: 1;
}

.product-list .product-image .sale {
    background: var(--bg-light-pink);
    border-radius: 3px;
    color: var(--text-white);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 5px 16px;
    text-transform: uppercase;
    position: absolute;
    left: 16px;
    top: 20px;
    z-index: 99;

}

.product-list .product-name h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: var(--text-black);
    transition: all 0.3s ease 0s;
    padding-top: 15px;

}

.product-list .product-name h3:hover {
    color: var(--text-light-pink);
}

.product-list .product-name .amount {
    color: var(--text-light-pink);
    font-weight: 500;
}

.product-list .product-name .amount del {
    color: var(--text-light-gray);
}

.product-list .product-name span.fa.fa-star {
    color: var(--text-light-pink);
    /* font-size: 20px; */
}

.product-list .product-name span.fa.fa-star.active {
    color: var(--text-light-gray);
}

.product-list .product-name .add_to_cart {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.product-list .product-name .add_to_cart:hover {
    color: var(--text-light-pink);
}



/* up to 75% off */

.products .up_to_off {
    position: relative;
}

.products .up_to_off::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
}

.products .up_to_off img {
    transition: 0.5s;
}

.products .up_to_off:hover img {
    transform: scale(1.1);
}

.products .up_to_content h2 {
    color: var(--text-white);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}


/* up to 75% off exit */


/* product section exit */



/* special counter section */

.special {
    padding: 6rem 0;
    background: var(--bg-light-gray);
}

.special .countdown-container {
    padding-top: 70px;
}

.special .countdown-container p {
    color: var(--text-light-gray);
    /* font-size: 18px; */
    font-weight: 300;
    line-height: 30px;
}

.special .countdown-container .countdown-counter {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.special .countdown-container .countdown-counter li {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: var(--bg-light-pink);
    border-radius: 5px;
    padding: 33px 16px;
    width: 18%;
    margin: 0 0.313rem;
    color: var(--text-white);
}

.special .countdown-container .countdown-counter li span {
    font-weight: 500;

}

.special .countdown-container .countdown-price del {
    color: var(--text-light-gray);
    font-size: 20px;
}

.special .special-img span {
    background: var(--bg-light-pink);
    border-radius: 0.313rem;
    color: var(--text-white);
    font-size: 16px;
    letter-spacing: 0.125rem;
    line-height: 20px;
    padding: 0.125rem 0.813rem;
    text-transform: uppercase;
    position: absolute;
    left: 16px;
    top: 20px;
    z-index: 99;
}


/* special counter section exit */


/* carousel section  */

.testimonial {
    padding: 5rem 0 8rem;
}

.testimonial .testmonial-wrapper {
    box-shadow: 0 0 0.563rem 0 rgb(0 0 0 / 50%);
    background: var(--bg-light-gray);
    margin: auto;
    padding: 1rem 5rem;
    border: 0.063rem solid var(--bg-white);
    border-radius: 10px;
}

.testimonial .testmonial-wrapper img {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    margin: 1.25rem auto;
    object-fit: cover;
    background-color: var(--bg-white);
    border: 0.063rem solid var(--bg-light-pink);

}

.testimonial .testmonial-wrapper span {
    color: var(--text-light-pink);
    font-size: 16px;
    text-transform: uppercase;
    margin: 16px 0;
    display: block;
}

.testimonial .testmonial-wrapper p {
    color: var(--text-light-gray);
    font-size: 16px;
    font-weight: 300;
}

.testimonial .carousel-indicators [data-bs-target] {
    background-color: var(--text-light-pink);
    width: 2.5rem;
    height: 0.313rem;
}

.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
    background: transparent;
}

.testimonial .slider-icon {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-light-pink);
}


.testimonial .carousel-indicators {
    bottom: -3rem;
}

.testimonial .carousel-control-prev{
    left: -8.75rem;
}

.testimonial .carousel-control-next{
    right: -8.75rem;
}

/* carousel section exit */



/* contact section */
.contact {
    background: var(--bg-light-grey);
    padding: 4rem 0;

}

.contact .info li span {
    color: var(--bg-light-pink);
    font-size: 30px !important;
    cursor: pointer;
}

.contact .info li p a {
    font-size: 16px;
    display: inline-block;
    margin: 0.75rem 0;
    color: var(--text-black);
}

.contact .form-group {
    margin-bottom: 1.5rem;
}

.contact .form-control {
    height: 3.75rem;
    padding: 0.375rem 1.875rem;
    border: none;
    font-size: 1rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 30%);
}

.contact .form-group .textarea {
    margin-top: 0.3125rem;
    border-radius: 0.25rem;
    padding: 0.75rem 1.875rem;
    border: none;
    font-size: 1rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 30%);
    width: 100%;
}

.contact .form-group .textarea:focus {
    outline: none;
    border: none;
}


/* footer section */
.copyright {
    background: var(--bg-gradient);
}

.copyright p,
.copyright a {
    color: var(--text-white);
}

/* footer section exit  */

#scrollup {
    position: fixed;
    right: 2%;
    bottom: 3%;
    height: 2.813rem;
    width: 2.5rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    /* display: none; */
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: var(--bg-gradient);
}

#scrollup span {
    line-height: 2.625rem;
    color: var(--text-white);
}

#scrollup .scrollActive {
    display: block;
}


/* contact section exit */
